<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <input type="hidden" th:value="${product.id}" id="killId">
    名字：<span th:text="${product.productName}"></span><br/>
    原价：<span th:text="${product.productPrice}"></span><br/>
    秒杀价：<span th:text="${product.salePrice}"></span><br/>
    <input type="button" value="秒杀" id="kill"><br/>

    活动id：<input type="text" id="sekillId"/><br/>
    用户id: <input type="userId" id="userId"/><br/>
    <input type="button" id="remind" value="秒杀提醒"/>
    <script src="js/jquery.min.js"></script>
    <script type="text/javascript">
        $(function(){
            $("#kill").click(function(){
                var killId = $("#killId").val();
                $.ajax({
                    url:"miaosha/path",
                    data:"userId=1&id="+killId,
                    success:function (result) {
                        if(result.statusCode==200){
                            var path = result.data;
                        }
                    }

                })
            })

            $(function(){
                $("#remind").click(function(){
                    var sekillId = $("#sekillId").val();
                    var userId = $("#userId").val();
                    $.ajax({
                       url:"remind/add/"+sekillId+"/"+userId,
                       success:function(result){
                           console.log(result);
                       }
                    });
                })
            })
        })
    </script>
</body>
</html>